/*------slider-product------*/

.container {
  height: 100%;
  display: flex;
  justify-content: center;
}

.slider-product-one-content {
  background-color: none;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: -100px;
  height: 180px;
}

.slider-product-one-content-items {
  height: 100%;
  width: 1200px;
  display: flex;
  justify-content: space-evenly;

}

.slider-product-one-content-item {
  width: 50%;
  background-color: #fff;
  height: 100%;
  border-radius: 8px;
  margin: 5px;
}

.slider-product-one-content-item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.slider-product-one-content-container {
  position: relative;
  overflow: hidden;
  width: 1200px;
  height: 100%;
}

.slider-product-one-content-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font: inherit;
}

.slider-product-one-content-btn i {
  color: inherit;
  font-size: 32px;
  height: 44px;
  width: 44px;
  background-color: rgb(255, 242, 242);
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translateY(-50%); */
  border-radius: 50%;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: .7;
}

.slider-product-one-content-items-content {
  position: relative;
  height: 100%;
  transition: all 0.5s ease;
  width: 100%px;
}

.slider-product-one-content-items {
  position: absolute;
  width: 100%;
}

.slider-product-one-content-items:nth-child(2) {
  transform: translateX(100%);
}

.slider-product-one-content-items:nth-child(3) {
  transform: translateX(200%);
}

.slider-product-one-content-items:nth-child(4) {
  transform: translateX(300%);
}

.prev-btn {
  z-index: 100;
  transform: translateX(-10px) translateY(-50%);
}

.next-btn {
  z-index: 1;
  transform: translateX(10px) translateY(-50%);
}

.imgBackground {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.imgBackground img {
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width:740px) and ( max-width:1024px){ 
  .slider-product-one-content{
    width: 100%;
    height: 180px;
    margin-bottom: -30px;
  }
  .slider-product-one-content-container{
    width: 100%;
    height: 50%;
  }
  .slider-product-one-content-items{
    width: 100%;
    height: 100%;
  }
  .slider-product-one-content-item{
    width: 50%;
    height: 100%;
  }
  .slider-product-one-content-item img{
    width: 100%;
    height: 100%;
  }
  .slider-product-one-content-btn i{
    width:30px;
    height: 30px;
  }
}
@media only screen and (max-width:740px){
  .slider-product-one-content{
    width: 100%;
    height: 180px;
    margin-bottom: -30px;
  }
  .slider-product-one-content-container{
    width: 100%;
    height: 50%;
  }
  .slider-product-one-content-items{
    width: 100%;
    height: 100%;
  }
  .slider-product-one-content-item{
    width: 50%;
    height: 100%;
  }
  .slider-product-one-content-item img{
    width: 100%;
    height: 100%;
  }
  .slider-product-one-content-btn i{
    width:30px;
    height: 30px;
  }
}
/*
@media only screen and (max-width: 740px) {
  .imgBackground {
    padding: 1rem;
  }

  .imgBackground img {
    width: 150%;
  }

  .slider-product-one-content-items-content {
    position: relative;
    height: 100px;
    transition: all 0.5s ease;
  }

  .slider-product-one-content-items {
    position: absolute;
    width: 800px;
  }
  
}
*/